page-manage-employee {
    .action-button {
        padding: 10px;
        height: 100%;
        margin: 0 !important;
        display: flex;
        align-items: center;
        background-color: rgb(56, 126, 245);
        color: #FFF;
    }
}